* {
    margin: 0;
    padding: 0;
}

header {
   background-color: beige;
   width: 100vw;
   text-align: center;
   height: 60px;
   line-height: 60px; 
   background-size: cover;
}

footer {
    background-color: beige;
    position: absolute;
    width: 100vw;
    height: 30px; 
    bottom: 0px;
    text-align: center;
    line-height: 30px;
}

#register {
    position: absolute;
    left: 35%;
    top: 30%;
}

#member {
    position: absolute;
    left: 35%;
    top: 40%;
}

#first-page {
    margin-left: 20px;
    margin-top: 20px;
}